footer {
  background-color: #383737;
  height: 367px;
  padding: 60px 20px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 176px;

    .rightSide_footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 120px;

      .footer-menu {
        // flex-direction: c;
        flex-direction: column;
        gap: 30px;

        li {
          font-family: "Poppins";
          font-size: 15px;
          font-weight: 400;
          line-height: 17.93px;
          letter-spacing: 0.65px;
        }
      }
    }
    .logo-wrapper {
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      justify-content: space-between;
      gap: 150px;
      
      .copyright-text {
        font-family: "Poppins";
        font-size: 14.26px;
        font-weight: 400;
        line-height: 16.55px;
        text-align: left;
        color: #eaeaec;
      }
    }
  }
}
